This Notebook tries to bind the connect.py, downstrea.py and upstream.py routines together without having to handle the powershell.

In [1]:
# Here I use the connect.py script to get the data path.
from connect import DATAPATH
DATAPATH

'C:\\Users\\mabar\\Dropbox\\UZH\\Modules\\Fourth\\Digital Tools for Finance\\Projects\\Project - Master Repo/API Exercises/data'

In [2]:
# Here I use the downstream.py to get data stored in a csv file in my data path:
from downstream import get_beverage
df = get_beverage(beverage = "beer", series = "consumption", filetype = "csv")
df

,Country,Consumption Per Capita,2018 Change,Total national Consumption,Year
0,Czech Republic *,188.6,-3.2,"1,999",2019.0
1,Austria *,107.8,0.2,949,2019.0
2,Romania *,100.3,1.4,"1,956",2019.0
3,Germany *,99.0,-2.1,"8,160",2019.0
4,Poland *,97.7,-0.5,"3,713",2019.0
...,...,...,...,...,...
56,Uganda,6.0,NaN,NaN,NaN
57,Malaysia *,5.8,NaN,NaN,2015.0
58,Sri Lanka *,2.0,NaN,50,NaN
59,India *,2.0,NaN,NaN,2015.0
60,Indonesia *,0.7,NaN,NaN,2015.0

In [3]:
# Here I use upstream.py to write a file, assuming I have a beverage dataset
# I'd like to save.
# First, I make the necessary imports:
import pandas as pd
from connect import DATAPATH
from upstream import put_beverage

# Then I create a toy dataset.
d = {'col1': [1, 2], 'col2': [3, 4]}
soda_production = pd.DataFrame(data=d)

# Then I call the function put_beverage() to place the dataset into a csv or feather file:
put_beverage(soda_production, "soda", "production", "feather")
put_beverage(soda_production, "soda", "production", "csv")